<header>
  <div class="header-container">
    <h2 class="header-links">
      <span id="left">
        <hr>
          <a id="header-home"href="/photos">Shutterable</a>
        <hr/>
      </span>
      <span id='right'>
        <% if (currentUser) { %>
          <form class="header-form" action="/photos/profile">
             <input type="hidden" name="profile" value="<%=currentUser.username%>">
             <input id="header-profile" type="submit" value="Welcome, <%=currentUser.username%>">
          </form>
        <% } %>
        <a id="header-sell" href="/photos/new">Sell Your Photos</a>
        <% if (currentUser) { %>
        <form class="header-form" action="/sessions?_method=DELETE" method="POST">
          <input id="header-logout" type="submit" value="Log Out" />
        </form>
        <% } else { %>
        <a id="header-signup" href="/users/new">Sign Up</a>
        <a id="header-login" href="/sessions/new">Log In</a>
      </span>
    </h2>
    <% } %>
  </div>
</header>
