<!-- <!DOCTYPE html>
 <html>
    <%- include('../partials/head.ejs') %>
     <body>
       <%- include('../partials/header.ejs') %>
       <% if (currentUser) { %>
        <form class="edit-form" action="/photos/profile?_method=PUT" method="POST">

          <input class="number" type="text" name="price" value="<%=currentUser.profileImg%>">

          <input class="number" type="text" name="price" value="<%=currentUser.bio%>">

          <input type="submit" value="Submit Changes">
        </form>
        <% } %>
   </body>
</html> -->
