<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../partials/head.ejs') %>
  <body class='makeaccount-body'>
    <%- include('../partials/header.ejs') %>
    <div class="makeaccount-container">
      <div class="makeaccount-images-left">
        <img id="img3" src="/images/Photos-Proj2/DSC_0460.jpg" alt="">
        <img id="img4" src="/images/Photos-Proj2/DSC_1321.jpg" alt="">
      </div>
      <div class="makeaccount-text">
        <h1>Want to sell your<br><span id="sell-photo"> photography?</span></h1>
        <a href="/users/new">Sign Up</a>
        <h4>Already have an account? <a href="/sessions/new">Log In</a></h4>
      </div>
      <div class="makeaccount-images-right">
        <img id="img1" src="/images/Photos-Proj2/DSC_1287.jpg" alt="">
        <img id="img2" src="/images/Photos-Proj2/DSC_1372.jpg" alt="">
      </div>
    </div>
  </body>
</html>
